body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*.sc-AykKI{

  top: '-11px';
  left: '50px';
}*/
div .dVqppa{
  top: -21px;
  left: 19px;
}
div .hWqAwx{
  top:-21px;
  right: 19px;
}

div .cuJfbG svg{
  top:-0px;
  left: 7px;
}